# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Dataset contents
data/raw/*
data/processed/*

# Allow DVC metadata files
!data/raw/*.dvc
!data/processed/*.dvc

# Models
models/

# MLflow
mlruns/

# DVC
.dvc/cache/

# Secrets
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log