# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Dataset
data/raw/
data/processed/

# Models
models/

# MLflow
mlruns/

# DVC
.dvc/cache/

# Secrets
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.loggit commit -m "Create project structure and gitignore"