# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Dataset contents
data/raw/*
data/processed/*

# Allow DVC metadata files
!data/raw/*.dvc
!data/processed/*.dvc

# Models contents
models/*

# Allow DVC metadata files
!models/*.dvc
!models/encoders/
!models/encoders/**

# MLflow
mlruns/
mlflow.db

# DVC
.dvc/cache/

# Secrets
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log